.header_left {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 24px;

  .control {
    width: 15%;
    display: flex;
    gap: 24px;
    color: #fff;
  }

  .search {
    width: 80%;
  }
}

