.header_left {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 30px;

  .control {
    width: 8%;
    display: flex;
    gap: 24px;
    color: #fff;
  }

  .search {
    position: relative;
    width: 100%;
    max-width: 440px;
  }
}

