.navbar{
  display: flex;
  align-items: center;
  position: fixed;
  left: 240px;
  top: 0;
  right: 0;
  height: 70px;
  padding: 0 59px;
  z-index: 99;
  min-width: 660px;
  transition: right .4s;
  background-color: #170f23;

  .level{
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .level-left, .level-right{
      display: flex;
      flex-basis: auto;
      flex-grow: 0;
      flex-shrink: 0;
    }

    .level-left{
      flex-grow: 1;
      margin-right: 10px;
      align-items: center;
      justify-content: flex-start;

      .zm-btn{
        display: flex;
        align-items: center;

        &.disable{
          pointer-events: none;
          -webkit-user-select: none;
          -ms-user-select: none;
          user-select: none;
          opacity: .3;
          cursor: none;
        }
      }
      button{
        background-color: hsla(0,0%,100%,-1);
        color: white;
        border: none;
      }

      .search{
        position: relative;
        width: 100%;
        max-width: 440px;

        .search-container{
          position: relative;
          border-radius: 20px;
          height: 40px;
          background-color: hsla(0,0%,100%,0.1) ;
          display: flex;
          align-items: center;

          .input-wrapper{
            position: absolute;
            top: 0;
            left: 38px;
            right: 10px;
            bottom: 0;

            input {
              border: none;
              margin: 0;
              width: 95%;
              font-size: 18px;
              color: rgba(254, 255, 255, 0.6);
              background-clip: padding-box;
              position: relative;
              height: 34px;
              padding: 5px 0;
              line-height: 34px;
              background-color: hsla(0,0%,100%, -0.9) ;
            }
          }
        }
      }
    }
  }
}