.rightbar {
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  position: relative;
  width: calc(100% - 570px);
  min-height: 100%;
  transition: margin-right .4s;
  display: block;
  color: white;

  .zm-section{
    padding:  0 59px;
    margin: 0 auto;

    &::-webkit-scrollbar{
      width: 12px;
    }

    &::-webkit-scrollbar-thumb{
      background-color: #888;
      border-radius: 6px;
    }

    .zm-section::-webkit-scrollbar-track {
      background-color: #ddd;
    }

    .containerd{
      min-height: calc(100% - 158px);
      margin-top: 70px;

      .container{
        flex-grow: 1;
        margin: 0 auto;
        position: relative;
        width: 100%;

        .OwYGChdu{
          padding: 32px 0 0 0 ;

          .Hgfasss{
            height: 300px;
            align-items: center;
            justify-content: center;
            display: flex;
            position: relative;
            transform-style: preserve-3d;
            perspective: 1000px;
            margin: 0 -15px 20px;
            transition: height .2s;

            .galley{
              position: absolute;
              height: auto;
              transition: transform .5s ease-in-out,opacity .5s ease-in-out,z-index 0s linear .25s;
              width: 33.33%;
              z-index: 0;
              opacity: 0;
              border-radius: 8px;

              img{
                border-radius: 10px;
              }
            }

            .first {
              transform: translateX(100%);
              opacity: 1;
              z-index: 3;
            }

            .second {
              transform: translateX(0%);
              opacity: 1;
              z-index: 2;
            }

            .previous {
              transform: translateX(-100%);
              opacity: 1;
              z-index: 1;
            }

            &.rotate {
              .first {
                transform: translateX(-100%);
              }

              .second {
                transform: translateX(0%);
              }

              .previous {
                transform: translateX(100%);
              }
            }
          }
        }
      }
    }

    .playlist-section{

    }

    .pad-0{
      padding: 0 !important;
    }

    .channel-section{
      margin-top: 48px;
    }

    .container{
      flex-grow: 1;
      margin: 0 auto;
      position: relative;
      width: 100%;

      .title{
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        font-weight: 700;
        text-transform: capitalize;
      }

      .zm-carousel-wrapper{
        position: relative;

        .zm-carousel{
          position: relative;
          display: flex;
          margin: 0 -15px;
          -webkit-user-select: none;
          -ms-user-select: none;
          user-select: none;
          overflow: hidden;

          .zm-carousel__container{
            transform: translate3d(0px, 0px, 0px);
            display: flex;
            z-index: 3;
            width: 100%;

            .zm-carousel-item{
              position: relative;
              min-height: 1px;
              padding-left: 14px;
              padding-right: 14px;
              float: left;
              flex-shrink: 0;
              display: flex;
              flex-direction: column;
              transition: transform .3s ease .1s;

              .zm-card{
                max-width: 100%;
                position: relative;

                .zm-card-image{
                  display: block;
                  position: relative;
                  overflow: hidden;
                  border-radius: 4px;
                  flex-shrink: 0;

                  img{
                    width: 100%;

                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
