.left{
  height: calc(100vh - 90px);
  position: relative;
  z-index: 10;
  width: 240px;
  background-color: hsla(0,0%,100%,0.05);
  padding-top: 70px;
  //padding-bottom: 54px;

  .left-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;

    .left-navbar{
      width: 100%;

      .left-navbar-brand{
        width: 240px;
        height: 70px;
        position: fixed;
        top: 0;
        padding: 0 25px 0 28px;
        display: flex;
        align-items: center;

        .left-navbar-item{

          .btn{
            font-size: 14px;
            border: 0;
            font-weight: 400;
            text-transform: none;
            text-align: center;
            cursor: pointer;
            position: relative;

            .logo{
              width: 120px;
              height: 40px;
              display: inline-block;
              background: url("https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg") 50%/contain no-repeat;
            }
          }

          button{
            background-color: hsla(0,0%,100%,-1);
            display: inline-block;
            line-height: 0;
            border-radius: 0;
          }
        }
      }
    }

    .left-navbar-main{
       position: relative;
       margin-bottom: 16px;

       .left-navbar-menu{
         margin: 0;
         padding: 0;

         .left-navbar-item{
           font-weight: 700;
           color: #dadada ;
           border-left: 3px solid transparent;

           &.active {
             background-color: hsla(0, 0%, 100%, 0.1);
             color: #fff;
             border-color: #9b4de0;
           }

           a{
             display: flex;
             align-items: center;
             font-size: 16px;
             line-height: 20px;
             font-weight: 500;
             padding: 12px 21px;
             text-decoration: none;
           }
         }
       }
     }
  }
}